:where(*, *::before, *::after) {
	box-sizing: border-box !important;
	margin: 0;
	padding: 0;
}

:where(img, picture, canvas, svg) {
	max-width: 100%;
	display: block;
}

:where(ul, ol) {
	list-style: none;
}

:where(h1, h2, h3, h4, h5, h6) {
	line-height: 1.1;
	overflow-wrap: break-word;
	transition: color var(--time) var(--easing);
}

:where(a, button) {
	cursor: pointer;
	font-size: inherit;
	color: inherit;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

*::selection {
	background-color: hsl(var(--clr-p-400-alpha), 0.25);
}

html,
body {
	overflow-x: hidden;
	max-height: 100vh;
	max-height: 100dvh;
}

body {
	font-family: var(--ff-rg);
	font-weight: var(--fw-rg);
	font-size: var(--fs-rg);
	color: var(--clr-n-600-solid);
	line-height: var(--lh-rg);
	background-color: var(--clr-n-100-solid);
}
